subscriptionenterprise/src/main/app/deleteSubscription.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax"
	xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core"
	version="CE-3.3.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/current/mule-ajax.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/2.0/mule-mongo.xsd ">

	<flow name="deleteSubscription" doc:name="deleteSubscription">
		<ajax:inbound-endpoint channel="/deleteSubscription"
			responseTimeout="10000" doc:name="deleteSubscription" connector-ref="server" />
		<flow-ref name="deleteSubscriptionFlow" doc:name="call deleteSubscriptionFlow" />
	</flow>
	<flow name="deleteSubscriptionFlow" doc:name="deleteSubscriptionFlow">
		<set-variable variableName="subscriptionName" value="#[json:Name]"
			doc:name="save subscriptionName" />
        <component doc:name="deleteSubscriptionByName">
            <spring-object bean="deleteSubscriptionByName"/>
        </component>
		<json:object-to-json-transformer
			doc:name="Object to JSON" />
	</flow>
	<flow name="deleteSubscriptionHttp" doc:name="deleteSubscriptionHttp">
		<http:inbound-endpoint exchange-pattern="request-response"
			host="localhost" port="8081" path="subscription/deleteSubscription"
			doc:name="HTTP" />
		<object-to-string-transformer doc:name="Object to String" />
		<flow-ref name="deleteSubscriptionFlow" doc:name="call deleteSubscriptionFlow" />
		<object-to-string-transformer doc:name="Object to String" />
	</flow>

</mule>
