subscriptionenterprise/src/main/app/removeSOICodesFromAnExistingSOICollection.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" version="CE-3.3.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/current/mule-ajax.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/2.0/mule-mongo.xsd ">
    <flow name="removeSOICodesFromAnExistingSOICollection" doc:name="removeSOICodesFromAnExistingSOICollection">
        <ajax:inbound-endpoint channel="/removeSOICodesFromAnExistingSOICollection" responseTimeout="10000" connector-ref="server" doc:name="removeSOICodesFromAnExistingSOICollection"/>
        <flow-ref name="removeSOICodesFromAnExistingSOICollectionFlow" doc:name="call removeSOICodesFromAnExistingSOICollectionFlow"/>
    </flow>
    <flow name="removeSOICodesFromAnExistingSOICollectionFlow" doc:name="removeSOICodesFromAnExistingSOICollectionFlow">
        <component doc:name="RemoveExistingSOIsFromSOICollection">
            <spring-object bean="RemoveExistingSOIsFromSOICollection"/>
        </component>
<!--        <foreach collection="#[json:SOIValues]" doc:name="Foreach">-->
<!--            <mongo:update-objects config-ref="Mongo_DB_subscriptions" collection="#[variable:SOIPath]" query-ref="#[string:{'SubscriptionMap' : { $exists : true, $in:[ '#[variable:Name]' ] } } ]" element-ref="#[string:{ $pull : {'SubscriptionMap':'#[payload]'} } ]" doc:name="delete SOIValue from"/>-->
<!--        </foreach>-->
<!--        <mongo:remove-objects config-ref="Mongo_DB_subscriptions" collection="#[variable:SOIPath]" query-ref="#[string:{ 'SubscriptionMap' : { $size  : 0 } } ] " doc:name="remove all the subscriptionsMap with 0 SOIitem"/>-->
    </flow>
    <flow name="removeSOICodesFromAnExistingSOICollectionHttp" doc:name="removeSOICodesFromAnExistingSOICollectionHttp">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="subscription/removeSOICodesFromAnExistingSOICollection" doc:name="HTTP"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <flow-ref name="removeSOICodesFromAnExistingSOICollectionFlow" doc:name="call addSOICodesToAnExistingSOICollectionFlow"/>
        <object-to-string-transformer doc:name="Object to String"/>
    </flow>
</mule>
