subscriptionenterprise/src/main/app/saveSubscription.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jsonsmart="http://www.mulesoft.org/schema/mule/jsonsmart" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:jsonvalidator="http://www.mulesoft.org/schema/mule/jsonvalidator"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax"
	xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core"
	version="CE-3.3.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/current/mule-ajax.xsd 
http://www.mulesoft.org/schema/mule/jsonsmart http://www.mulesoft.org/schema/mule/jsonsmart/1.0-SNAPSHOT/mule-jsonsmart.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd 
http://www.mulesoft.org/schema/mule/jsonvalidator http://www.mulesoft.org/schema/mule/jsonvalidator/1.0-SNAPSHOT/mule-jsonvalidator.xsd 
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/2.0/mule-mongo.xsd ">
    <jsonsmart:config name="Jsonsmart" doc:name="Jsonsmart"/>
		<flow name="saveSubscription" doc:name="saveSubscription">
		<ajax:inbound-endpoint channel="/saveSubscription"
			responseTimeout="10000" connector-ref="server" doc:name="save Subscription" />
		<flow-ref name="saveSubscriptionFlow" doc:name="call saveSubscriptionFlow" />
		<json:object-to-json-transformer
			doc:name="Object to JSON" />
	</flow>
	<flow name="saveSubscriptionFlow" doc:name="saveSubscriptionFlow">
        <set-variable variableName="subscription" value="#[payload]" doc:name="save subscription"/>
        <component class="com.citi.isg.notifications.lifecycle.SubscriptionValidator" doc:name="SubscriptionValidator"/>
        <component doc:name="SaveSubscriptionInMongo">
            <spring-object bean="saveSubscriptionInMongo"/>
        </component>
	</flow>
    <flow name="saveSubscriptionHttp" doc:name="saveSubscriptionHttp">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="subscription/saveSubscription" doc:name="HTTP"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <flow-ref name="saveSubscriptionFlow" doc:name="call saveSubscriptionFlow"/>
        <object-to-string-transformer doc:name="Object to String"/>
    </flow>
</mule>
